/* some gradients ====>>>>  90deg, #00c6ff, #0072ff
                            135deg, #9d50bb 0%, #6e48aa 100% 
                            135deg, #43e97b 0%, #38f9d7 100%
                            135deg, #00c9ff 0%, #92fe9d 100%

text === 135deg, #00c9ff 0%, #92fe9d 100%
button === 90deg, #00c6ff, #0072ff
*/

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img {
    margin-top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 125px;
}
.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 2.5em;
}
.hero h1 span {
    background: linear-gradient(135deg, #00c9ff 0%, #92fe9d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p {
    width: 50%;
    font-size: 1.25em;
    text-align: center;
    line-height: 40px;
}
.hero-actions {
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 1.25em;
}
.hero-connect{
    background: linear-gradient(135deg, #00c9ff 0%, #92fe9d 100%);
    padding: 10px 15px;
    border-radius: 25px;
    border: 1.5px solid white;
    transition: 0.5s;
    cursor: pointer;
}
.hero-connect:hover{
    border: 1.5px solid  #0072ff;
    transform: scale(1.1);
}
.hero-resume{
    padding: 10px 15px;
    border: 1.5px solid white;
    border-radius: 25px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    transition: 0.5s;
    cursor: pointer;
}
.hero-resume:hover{
    border: 1.5px solid #0072ff;
    transform: scale(1.1);
}
/*========mobile resposive styling==========*/
@media(max-width: 768px){
    .hero img{
        margin-top: 60px;
        width: 250px;
        height: 250px;
    }
    .hero h1{
        margin-top: 30px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-actions{
        gap: 16px;
        font-size: 18px;
        font-weight: 500px;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 10px 20px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 10px 20px;
        border-radius: 40px;
    }
}
/*=========mobile resposive 480px======================*/
@media(max-width: 480px){
    .hero img{
        margin-top: 30px;
        width: 225px;
        height: 225px;
    }
    .hero h1{
        margin-top: 25px;
        width: 80%;
        font-size: 35px;
    }
    .hero p{
        width: 55%;
        font-size: 20px;
        line-height: 25px;
        margin: 10px 0px;
    }
    .hero-actions{
        gap: 16px;
        font-size: 18px;
        font-weight: 500px;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 10px 20px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 10px 20px;
        border-radius: 40px;
    }
}
/*=================mobile responsive 393.33px=====================*/
@media(max-width: 393.33px){
    .hero{
        margin: 0px 30px;
    }
    .hero img{
        margin-top: 30px;
        width: 180px;
        height: 180px;
    }
    .hero h1{
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 25px;
        line-height: 30px;
    }
    .hero p{
        min-width: 300px;
        font-size: 15px;
        line-height: 20px;
        margin: 0px;
    }
    .hero-actions{
        gap: 16px;
        font-size: 15px;
        font-weight: 500px;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 7px 11px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 7px 11px;
        border-radius: 40px;
    }
}








