/* 
text === 135deg, #00c9ff 0%, #92fe9d 100%
button === 90deg, #00c6ff, #0072ff 
*/
.topics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px 100px;
}
.topics-title{
    position: relative;
}
.topics-title h1{
    padding: 0px 30px;
    font-size: 4em;
}
.topics-title img{
    width: 150px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.topics-format{
    display: flex;
    flex-direction: column;
    text-align:start;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.topics-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 80px;
}
a{
    text-decoration: none;
}
.topics-format h3{
    font-size: 2em;
    color: white;
    text-decoration: none;
}
.topics-format h2{
    font-size: 1.75em;
    background: linear-gradient(135deg, #00c9ff 0%, #92fe9d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.topics-format p{
    color: white;
    font-size: 1.15em;
    line-height: 30px;
    max-width: 300px;
}
/*
.topics-format p:hover{
    color: white;
}
*/
.read-more{
    display: flex;
    align-items: center;
    margin-top: 0px;
    gap: 0px;
}
.read-more img{
    margin-top: 5px;
    width: 40px;
    height: 25px;
}
.topics-format:hover{
    border: 2px solid #0072ff ;
    background-image: linear-gradient(90deg, #00c6ff, #0072ff);
    transform: scale(1.1);
}
/*============mobile responsive styling================*/
@media(max-width: 768px){
    .topics{
        align-items: start;
        gap: 70px;
        margin: 20px 70px;
    }
    .topics-title h1{
        padding: 0px;
        font-size: 50px;
    }
    .topics-title img{
        width: 130px;
        margin-right: -20px;
    }
    .topics-format{
        gap: 20px;
        padding: 32px;
        width: 200px;
    }
    .topics-format h2{
        font-size: 28px;
    }
    .topics-format p{
        font-size: 18px;
        line-height: 25px;
        max-width: 300px;
    }
    .read-more img{
        width: 20px;
    }
    .topics-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}
/*===============mobile responsive 480px======================*/
@media(max-width: 480px){
    .topics{
        align-items: start;
        gap: 50px;
        margin: 30px 60px;
    }
    .topics-title h1{
        padding: 0px;
        font-size: 35px;
    }
    .topics-title img{
        width: 80px;
        margin-right: -20px;
    }
    .topics-format{
        gap: 5px;
        padding: 15px;
        width: 125px;
    }
    .topics-format h2{
        font-size: 20px;
    }
    .topics-format h3{
        font-size: 25px;
    }
    .topics-format p{
        font-size: 12px;
        line-height: 15px;
        max-width: 400px;
    }
    .read-more img{
        margin-top: 2px;
        width: 18px;
    }
    .topics-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
/*===================mobile responsive 393.33px=====================*/
@media(max-width: 393.33px){
    .topics{
        align-items: start;
        gap: 10px;
        margin: 0px 20px
    }
    .topics-title h1{
        margin-bottom: 30px;
        padding: 0px;
        font-size: 30px;
    }
    .topics-title img{
        width: 70px;
    }
    .topics-format{
        gap: 5px;
        padding: 15px;
        width: 121px;
    }
    .topics-format h2{
        font-size: 20px;
    }
    .topics-format h3{
        font-size: 25px;
    }
    .topics-format p{
        font-size: 12px;
        line-height: 15px;
        max-width: 400px;
    }
    .read-more img{
        margin-top: 2px;
        width: 18px;
    }
    .topics-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}














/*
.read-more img{
    width: 50px;
    height: 50px;
    filter: hue-rotate(180deg);
}
background: linear-gradient(267deg, hsl(29, 71%, 50%), hsl(287, 76%, 51%));    
*/