.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.about-title{
    position: relative;
}
.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.about-title img{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.about-sections img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}