.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 70px 100px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    font-size: 4.5em;
    padding: 0px 30px;
}

.contact-title img{
    width: 110px;
    height: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1{
    font-size: 2.5em;
    background: linear-gradient(267deg, hsl(29, 71%, 50%), hsl(287, 76%, 51%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    font-size: 1.5em;
    color: hsl(0, 0%, 85%);
    max-width: 550px;
    line-height: 35px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: hsl(0, 0%, 85%);
    font-size: 1.25em;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-detail img{
    width: 50px;
    height: auto;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.contact-right label{
    font-size: 1.25em;
    color:hsl(0, 0%, 85%);
}
.contact-right input{
    font-family: "Outfit";
    font-size: 1.25em;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 500px;
    height: 50px;
    padding-left: 20px;
    background: hsl(240, 9%, 22%);
    color: hsl(0, 0%, 63%);
}
.contact-right textarea{
    font-family: "Outfit";
    font-size: 1.25em;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    max-height: 100px;
    max-width: 500px;
    overflow: auto;
    resize:both;
    background:hsl(240, 9%, 22%);
    color:hsl(0, 0%, 63%);
}
.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(267deg, hsl(29, 71%, 50%), hsl(287, 76%, 51%));
    font-size: 1.25em;
    font-family: "Outfit";
    padding: 5px 15px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.4s;
}
.contact-submit:hover{
    transform: scale(1.1);
}
/*================mobile responsive styling===================*/
@media(max-width: 768px){
    .contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .contact-title h1{
        padding: 0px;
        font-size: 50px;
        font-weight: 600;
    }
    .contact-title img{
        width: 130px;
        margin-right: -20px;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 54px;
    }
    .contact-left p{
        font-size: 18px;
    }
    .contact-detail{
        gap: 20px;
    }
    .contact-detail img{
        width: 25px;
    }
    .contact-right label{
        font-size: 20px;
    }
    .contact-right input{
        width: 100%;
        font-size: 20px;
    }
    .contact-right textarea{
        width: 95%;
        font-size: 20px;
    }
    .contact-submit{
        font-size: 25px;
        padding: 10px 20px;
    }
}
/*==============mobile responsive 480px===============*/
@media(max-width: 480px){
    .contact{
        gap: 50px;
        margin: 100px 60px;
        align-items: start;
    }
    .contact-title h1{
        padding: 0px;
        font-size: 40px;
        font-weight: 600;
    }
    .contact-title img{
        width: 100px;
        height: 50px;
        margin-right: -20px;
    }
    .contact-section{
        flex-direction: column;
        gap: 60px;
    }
    .contact-left h1{
        font-size: 45px;
    }
    .contact-left p{
        font-size: 15px;
        line-height: 20px;
    }
    .contact-detail{
        gap: 20px;
    }
    .contact-detail img{
        width: 25px;
    }
    .contact-right{
        gap: 10px;
    }
    .contact-right label{
        font-size: 15px;
    }
    .contact-right input{
        width: 80%;
        font-size: 15px;
    }
    .contact-right textarea{
        width: 85%;
        font-size: 15px;
    }
    .contact-submit{
        font-size: 15px;
        padding: 8px 18px;
    }
}