.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px 100px;
}
.navbar-img {
    width: 100px;
    height: 100px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.3em;
    gap: 70px;
    cursor: pointer;
}
.nav-connect{
    padding: 10px 20px;
    background: linear-gradient(267deg, hsl(29, 71%, 50%), hsl(287, 76%, 51%));
    border-radius: 25px;
    font-size: 1.35em;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.15);
}
/*=============================================*/
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li:hover{
    transition: 0.4s;
    transform: scale(1.1);
    background: linear-gradient(267deg, hsl(29, 71%, 50%), hsl(287, 76%, 51%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.anchor-link{
    text-decoration: none;
    color: white;
}
/*
.nav-menu img{
    display: flex;
    width: 40px;
    height: 15px;
}
*/
/*==============mobile responsive styling====================*/
.nav-mob-open{
    display: none;
}
.nav-mob-close{
    display:none;
}
@media(max-width: 768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0px;
        gap: 30px;
        background-color: hsl(317, 100%, 6%);
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}
/*=================mobile responsive 480px===================*/
@media(max-width: 480px){
    .navbar{
        margin: 15px 20px;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 20px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 20px;
        left: 250px;
        width: 20px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0px;
        gap: 20px;
        background-color: hsl(0, 0%, 0%);
        width: 300px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 80px;
        flex-direction: row;
        gap: 30px;
    }
}




















/*-----------------------------------------------*/
/*.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect {
    padding: 10px 30px;
    border-radius: 40px;
    background: linear-gradient(267deg, hsl(29, 71%, 50%), hsl(287, 76%, 51%));
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform:scale(1.05);
    /*background: linear-gradient(267deg, hsl(29, 71%, 60%), hsl(287, 76%, 65%));
} */